#skills{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
    
}

.skills_sec{
    display: grid;
    grid-template-columns: 37% 60%;
    gap: 3%;
    padding-left: 8rem;
}
.skills_content{
    text-align: left;
    padding-top: 2rem;
   
}
.skills_content li{
   padding: 1rem;
}


.skills_image img{
    width: 80%;
    position: relative;
   top: 80px;
    left: 150px;
    transform: rotate(-10deg);
  
}

.bold{
    font-weight: bold;
}

.skill_image{
    position: relative;
    top: 110px;
}
@media  screen and (max-width: 786px) {
    #skills{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .skill_image{
        display: none;
    }
    .skills_sec{
        display: block;
    }
    .skills_content{
        padding-top: 2rem;
        width: 100%;
        position: relative;
        right: 80px; }
    .skills_content ul li{
         margin: 0%;
         padding: 0;
         
    }
    .skills_content ul {
        text-align: center;
        
    }
    .skills_content ul h4{
        font-size: 0.9rem;
    }

}