#about{
    text-align: center;
    padding-top: 7rem;
    
    background-color: aliceblue;
    color: #2D033B;
    display: flex;
}

.about_sec{
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 11rem;
    padding-right: 5rem;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
}



.about_image {
    width: 60%;
    position: relative;
    bottom: 80px;  
    left: 50px;
    transform: rotate(20deg);
}

@media  screen and (max-width: 786px) {
    .about_image{
        display: none;
    }
    .about_content{
        
       text-align: center; 
    }

    .about_content h4{
        font-size: 0.9rem;
    }
    .about_sec{
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display:block;
      
    }
    #about{
        text-align: center;
        padding-top: 2rem;
        
        background-color: aliceblue;
        color: #2D033B;
        display: flex;
    }

    h5{
        font-size: 1rem;
    }
    h1{
        font-size: 1.5rem;
    }
}