img{
    max-width: 520px;
    filter: brightness(50%);
   filter: contrast(50%);
   filter: drop-shadow(10px 10px 10px #2D033B);
}

#header{
    padding-top: 11rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 7rem;
}

.header_sec{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.header_content{
    text-align: center;
    padding-top: 7rem;
}

.header_content h5 a{
    text-decoration: none;
    color: aliceblue;

}
.btn{
    margin: 1rem;
    border-radius: 0%;
    color: aliceblue;
    background-color: #2D033B;
    border-color: aliceblue;
}

@media screen and (max-width: 786px){
    .header_image{
          padding-left: 4rem;
    }
    img{
        max-width: 200px;
        filter: brightness(50%);
        filter: contrast(50%);
        filter: drop-shadow(10px 10px 10px #2D033B);
    }
    .header_sec{
        display: block;
    }
    #header{
        padding-top: 7rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
    }

    .header_content h5{
        font-size: .95rem;
    }
    .header_content h1{
        font-size: 1.5rem;
    }
    .header_content {
       text-align: center;
       position: relative;
       bottom: 70px;
    }
}