
.icons1 {
    text-decoration: none;
    color: aliceblue;
    margin: 1rem;
}

footer{
    padding: 2rem;
    text-align: center;
}
@media screen and (max-width: 786px){
.footer_content{
    font-size: 0.9rem;
}}