.icons{
    color: #2D033B;
    
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2D033B;
    color: aliceblue;
}

.brand{
    position: relative;
    right:40px;
}

h5{
    padding: 0 30px;
}

.drop{
    padding: 0 30px;
}

.content1{
    position: relative;
    left: 390px;
    
}
@media screen and (max-width: 786px) {
    .brand{
        position: static;
        
    } 
    .content1{
        position: static;
    }
}